In [1]:
import numpy as np
import pandas as pd

Code for answer 2

In [2]:
df=pd.read_csv('haberman.data',sep=',',header=None)

In [3]:
df.columns=['Age of patient','Year of operation','No of positive axillary nodes detected','Survival Status']

In [4]:
df

,Age of patient,Year of operation,No of positive axillary nodes detected,Survival Status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1
...,...,...,...,...
301,75,62,1,1
302,76,67,0,1
303,77,65,3,1
304,78,65,1,2
305,83,58,2,2

Code for answer 3

In [5]:
hospital_train=df.sample(frac=0.8,random_state=100)
hospital_test=df.drop(hospital_train.index)

In [6]:
hospital_train

,Age of patient,Year of operation,No of positive axillary nodes detected,Survival Status
88,45,67,1,1
217,59,63,0,1
78,44,61,0,1
134,50,65,4,1
132,50,61,0,1
...,...,...,...,...
5,33,58,10,1
36,39,67,0,1
43,41,60,23,2
180,55,63,6,2
176,54,69,7,1

In [7]:
hospital_test

,Age of patient,Year of operation,No of positive axillary nodes detected,Survival Status
0,30,64,1,1
2,30,65,0,1
4,31,65,4,1
8,34,66,9,2
13,34,60,0,1
...,...,...,...,...
275,67,66,0,1
280,68,68,0,1
290,70,59,8,1
302,76,67,0,1
304,78,65,1,2

In [8]:
xtrain=hospital_train.iloc[:,:-1]
ytrain=hospital_train.iloc[:,-1]
xtest=hospital_test.iloc[:,:-1]
ytest=hospital_test.iloc[:,-1]

Code for answer 4

In [9]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(xtrain,ytrain)

LogisticRegression()

Code for answer 5

In [10]:
print("Intercept:",clf.intercept_)
print('\nCoefficients of trained model\n')
for i in range(3):
  print("Coefficient of feature",df.columns[i],': ',clf.coef_[0][i])

Intercept: [-4.68789429]

Coefficients of trained model

Coefficient of feature Age of patient :  0.015962910289051526
Coefficient of feature Year of operation :  0.038958280580340114
Coefficient of feature No of positive axillary nodes detected :  0.09478125910360939

Code for answer 6

In [11]:
ypred=clf.predict(xtest)
ypred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1])

Code for answer 7

In [12]:
e=0
for i in range(len(ypred)):
  if ytest.iloc[i] != ypred[i]:
    e=e+1
e=e/len(ypred)
print("Classification error:",e)

Classification error: 0.26229508196721313

Code for answer 8

In [13]:
traintestsplit=[0.6, 0.7, 0.9]

In [14]:
for i in traintestsplit:
  print('\nTrain-Test Split:', round(i*100), ':', round((1-i)*100))
  hospital_train=df.sample(frac=i,random_state=100)
  hospital_test=df.drop(hospital_train.index)
  xtrain=hospital_train.iloc[:,:-1]
  ytrain=hospital_train.iloc[:,-1]
  xtest=hospital_test.iloc[:,:-1]
  ytest=hospital_test.iloc[:,-1]
  clf=LogisticRegression()
  clf.fit(xtrain,ytrain)
  print("\nIntercept:",clf.intercept_)
  print('\nCoefficients of trained model\n')
  for j in range(3):
    print("Coefficient of feature",df.columns[j],': ',clf.coef_[0][j])
  ypred=clf.predict(xtest)
  e=0
  for j in range(len(ypred)):
    if ytest.iloc[j] != ypred[j]:
      e=e+1
  e=e/len(ypred)
  print("\nClassification error:",e)
  print('.........................................................................................................')

Train-Test Split: 60 : 40

Intercept: [-4.44290696]

Coefficients of trained model

Coefficient of feature Age of patient :  0.007335624257559043
Coefficient of feature Year of operation :  0.044885600086416025
Coefficient of feature No of positive axillary nodes detected :  0.0884325319295788

Classification error: 0.22131147540983606
.........................................................................................................

Train-Test Split: 70 : 30

Intercept: [-4.45059962]

Coefficients of trained model

Coefficient of feature Age of patient :  0.008036646365381789
Coefficient of feature Year of operation :  0.04286884458559834
Coefficient of feature No of positive axillary nodes detected :  0.08621098077581217

Classification error: 0.2391304347826087
.........................................................................................................

Train-Test Split: 90 : 10

Intercept: [-2.38251321]

Coefficients of trained model

Coefficient of feature Age of patient :  0.01842403865231182
Coefficient of feature Year of operation :  -0.0003848218387054366
Coefficient of feature No of positive axillary nodes detected :  0.09048997340577587

Classification error: 0.22580645161290322
.........................................................................................................